.fader {
	overflow:hidden;
	pointer-events: none;
	position:fixed;
	background-color:white;

	position: fixed;
	height: 0;
	width: 100vw;

	left: 0;
	/* bottom:0; */
	/* display:none; */
	z-index: 1000;
	/* transition:.4s; */
	/* transform-origin: 50% 100%; */

	/* background-image: url('img/d_logo.svg');
	background-size:cover;
	background-position:top;
	z-index:1000; */
}
.shrink {
	transform: scale(0, 1);
}
.box {
	display:none;
}
.innerSVG {
	background-image: url('img/d_logo_edit.svg');
	background-position:center;
	background-repeat: none !important;
	background-size:contain;
	/* top:0; */
	height:100vh;
	position:absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
	width:50vw;
	z-index:1001;
}
.fader img{
	z-index:1001;
	left:-50%;
	transform: translateX(50%);
	/* position:absolute; */
	/* left:50%;
	transform: translateX(-50%); */

	/* top:0; */
	/* bottom:0; */
	pointer-events: none;
	/* height:100vh;
	width:100vw */
}

.ppi {
	width: 100%;
	height: 650px;
	object-fit: cover;
}
.gw{
	background: #f3f3f3
}
.slides button {
	margin-top: 10px
}
.hvrimg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 0px solid #fff;
	transition: .3s;
	z-index: 1
}
.hvr:hover .hvrimg, .fullcontain:hover .hvrimg {
	border: 15px solid #fff;
	transition: .3s;
}
.doit, .doit2{
	position: relative;
	overflow: hidden
}
.doit.is-loaded:after {
	-webkit-animation: swipeIn 1s cubic-bezier(0.2, 1, 0.3, 1) forwards;
	animation: swipeIn 1s cubic-bezier(0.2, 1, 0.3, 1) forwards;
	transition-delay: .6s
}
.doit:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	width: 100%;
	z-index: 5;
	transition-delay: .3s
}
.doit2.is-loaded:after {
	-webkit-animation: swipeIn 1s cubic-bezier(0.2, 1, 0.3, 1) forwards;
	animation: swipeIn 1s cubic-bezier(0.2, 1, 0.3, 1) forwards;
	transition-delay: .9s !important
}
.doit2:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	width: 100%;
	z-index: 5;
	transition-delay: .9s !important
}
.box {
	/* color: transparent;
	background-color:transparent; */
	/* color:white; */
/*
	padding-left:30vw;
	padding-right:30vw;
	width:500vw;
	*/
	z-index:100;
	/* left:-250vw;
	top:0; */

	position:absolute;
	/* transform: scale(5, 5); */
	/* left:-60vw; */
	/* transition:0.4s; */
}
.box svg {
	/* top:-250vh; */
}
.scaled {
	/* transform: scale(0.2, 0.2); */
}
.doit img, .doit2 img {
	position: relative;
	z-index: 1;
	opacity: 0;
	transition: opacity 595ms;
	transition-delay: .5s !important;
}
.doit.is-loaded img {
	opacity: 1;
	transition-delay: .5s !important;
	transition: opacity 595ms;
}
.doit2.is-loaded img {
	opacity: 1;
	transition-delay: .6s !important;
	transition: opacity 595ms;
}
@-webkit-keyframes swipeIn {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	50% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(-101%);
		transform: translateY(-101%);
	}
}

@keyframes swipeIn {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	50% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(-101%);
		transform: translateY(-101%);
	}
}

.lb {
	position: fixed;
	left: 0;
	height: 100vh;
	width: 15px;
	background: #fff;
	z-index: 2
}
.rb {
	position: fixed;
	right: 0;
	height: 100vh;
	width: 15px;
	background: #fff;
	z-index: 2
}
.btmfade {
	background: linear-gradient(to top, rgba(255,255,255,0.95) 20%, rgba(255,255,255,0.75) 60%, transparent);
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0
}
.triangle {
	position: absolute;
	top: 15px;
	transition: .7s ease;
	width: 200px;
	height: 200px;
	border-bottom: solid 100px transparent;
	border-right: solid 100px transparent;
	border-left: solid 100px #fff;
	border-top: solid 100px #fff;
	z-index: 120;
	left: 15px;
	transition: .5s
}
.branded svg {
	fill: #000;
	width: 40px;
	height: 50px;
	transition: .4s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.wb {
	position: absolute;
	width: 100%;
	height: 15px;
	top: 0;
	left: 0;
	z-index: 100;
	background: #fff;
	transition: .4s ease;
}
.wbu {
	transition: .4s ease;
	top: -20px !important
}
.minus {
    margin-top: -300px
}
.bbg {
    background: #000;
    color: #fff
}
.bbg .head1big {
    color: #fff
}
.bbar {
    position: absolute;
    height: 100px;
    bottom: -100px;
    width: 100%;
    left: 0;
}
/*===HOMEPAGE===*/
.hps {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
/*
.hpsi {
    padding: 0px 20px 0px 0px;
}
*/
.hpsi {
	position: absolute;
	z-index: 1;
	bottom:80px;
	transform: rotate(-90deg);
	left: -30px
}

/*
.hpp {
    position: relative;
    background: #000;
    margin-bottom: 50px
}
.hpp img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: relative;
    opacity: .8
}

.hppi {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 700px;
}

.hppi {
    position: absolute;
    color: #fff;
    width: 700px;
    top: 60px;
    left: 60px;

}
.hppi h3 {
    color: #fff;
    font-size: 72px;
}
*/
.fullcontain {
    width: 100%;
	position: relative
}
.hat {
    width: 85%;
    margin-left: 40px;
}
.ha1 {
    width: 100%;
    height: 600px;
    object-fit: cover
}
.ha2 {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-top: 250px
}
.ha3 {
    width: 100%;
    height: 580px;
    object-fit: cover;
}
.home_service {
	width: 70%;
	margin-left: 30%;
}
.contain2 {
	width: 1200px;
	margin: auto;
	font-size: 16px;
	line-height: 26px
}
.contain3 {
	width: 1000px;
	margin: auto;
	font-size: 16px;
	line-height: 26px
}
.contain2 p {
	padding: 0px 20px
}
.hp3{
	height: 300px;
	object-fit: cover;
	width: 100%;
	margin-bottom: 30px
}
.port_cards {
	width: 100%;
	transform: scale(1);
	transition: .2s ease;
}
.hpinfo {
	height: 300px;
	position: relative;
	border-bottom: 1px solid #eee
}
.brdtop {
	border-top: 1px solid #eee;
}
.divide5 {
	height: 1px
}
.hpinside {
	width: 80%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 40px
}
.hvr {
	margin-bottom: -1px
}
.midbanner {
	background: url(https://www.deltstl.com/wp-content/uploads/2017/09/boout-us-banner.jpg) center bottom no-repeat;
	background-size: cover;
	height: 700px;
	position: relative;
	transition-delay: .6s
}

.white_box {
	background: #fff;
	max-width: 395px;
	padding: 40px;
	position: absolute;
	left: 5%;
    top: 50%;
    transform: translateY(-50%)
}
.hvr .smallp {
	font-size: 15px;
	line-height: 23px;
	padding-right: 29px
}
.white_box .head1{
	font-size: 100px;
	line-height: 80px;
}
.hplogos {
	width: 140px;
	margin: auto;
	display: block;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	margin-bottom: 140px
}




.demo-6 {
	--color-text: #fff;
	--color-bg: #020202;
	--color-link: #fff;
	--color-link-hover: #000;
	--color-stitle: #f1f1f1;
	--fontsize-stitle: 12vw;
	--color-nav: #fff;
	--color-nav-hover: #000;
}
.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}


.content--fixed a {
	pointer-events: auto;
}


.slideshow {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.slides {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}
.ovrs {
	position: absolute;
	background: rgba(0,0,0,.2);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .3s ease
}

.slidenav {
	position: absolute;
	text-align: center;
	padding: ;
	bottom: 0px;
	width: 300px;
	color: #fff;
	background: #000;
	height: 70px;
	line-height: 70px;
	left: 50%;
	margin-left: -150px
}

.slidenav__item {
	border: 0;
	background: none;
	font-weight: bold;
}

.slidenav__item:focus {
	outline: none;
}

.slidenav__item:hover {
	color: var(--color-nav-hover);
}

.shape {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--color-shape-fill);
	top: 0;
	pointer-events: none;
}

.slide__title {
	position: relative;
	font-size: 85px;
	margin: 0;
	cursor: default;
	line-height: 80px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	width: 900px
}
.slides .blk {
	transition-delay: 0s !importamt
}
.slide__desc {
	position: relative;
	font-size: 19px;
	margin: 0 0;
	cursor: default;
	color: #fff;
	padding: 0 1em;
	text-align: center;
	margin-bottom: 10px
}

.slide__link {
	position: relative;
	font-size: 1em;
	font-weight: bold;
	padding: 1em 2em;
	display: block;
	color: var(--color-slink);
	background: var(--color-slink-bg);
	transition: color 0.3s, background 0.3s;
}

.slide__link:hover, .slidenav__item--prev:hover, .slidenav__item--next:hover {
	color: #bbb!important;
}

@media screen and (min-width: 55em) {
	.demos {
		display: flex;
		justify-self: end;
	}
	.demo {
		display: block;
		width: 17px;
		height: 17px;
		margin: 0 4px;
		border-radius: 50%;
		background: var(--color-link);
	}
	a.demo--current {
		background: var(--color-link-hover);
	}
	.demo span {
		line-height: 1;
		position: absolute;
		right: 100%;
		display: none;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}

@media screen and (max-width: 55em) {
	body {
		padding: 0 0 4em 0;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}

	.slide__desc {
		font-size: 1em;
	}
	.slide__link {
		font-size: 0.85em;
	}
}


















.slider{
	position: relative;
	width: 100%;
	overflow: hidden;
	transition: all .3s;
	perspective: 900px;
	transform-style: preserve-3d;
	padding: 0px;
}
.slider .inslides{
	height: 100%;
}
.theslide{
	width: 100% !important;
	position: absolute;
	transform: scale(0.5,0.5);
	opacity: 0;
	transition: all .3s;
	padding: 0px !important;

}

.theslide.active{
	z-index: 10;
	left: 0;
	opacity: 1;
	transform: scale(1,1);
	padding: 0px !important;
}

.theslide.inactiveLeft{
	left: -105%;
	z-index: 11;
}
.theslide.inactiveRight{
	left: 105%;
	z-index: 11;
}

.slider .bullets{
	text-align: center;
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.slider .bullets .bullet{
	position: relative;
	display: inline-block;
	background: rgba(255,255,255,.8);
	border-radius: 50%;
	z-index: 14;
	border: 2px solid transparent;
	transition: all .3s;
}



/*===SERVICES===*/
.daservices.img100 {
	height: 270px;
	object-fit: cover
}
.containright {
	width: 90%
}
.spi {
	font-size: 15px;
	padding: 30px 20px 0px 0px;
	line-height: 23px
}
.spi .blk:after {
	display: none;
}
.processbg {
	background: #fff;
	width: calc(100% + 15px);
	padding: 80px 100px 60px 15px
}
.tab ul {
	margin-left: 0px;
	padding-left: 0px;
	position: absolute;
	left: 0px;
}
.tab_content {
	height: 350px;
	padding-left: 50px;
}
.tab {
	padding-top: 10px;
	margin-bottom: 80px;
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 100%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	color: #000;
	-webkit-font-smoothing: antialiased;
}

.tabs {
	position: absolute;
	margin: 0;
	width: 100%;
	top: 50%;
	transform: translateY(-50%)
}
.tabs li {
	line-height: 38px;
	overflow: hidden;
	padding: 0;
	position: relative;
	font-size: 15px;
	margin: 0px 0px 10px
}
.tabs a {
	color: #000;
	display: block;
	letter-spacing: 0;
	outline: none;
	padding: 0 0px 0px 0px;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	font-weight: 600;
	height: 15px;
	width: 15px;
	background: #000;
	border-radius: 100%;
}

.tabs_item {
	padding: 10px 0 120px;
}
.tabs_item h4 {
	font-weight: bold;
	color: black;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 20px
}
.tabs_item:first-child {
	opacity: 1
}
.tabs_item.active {
	opacity: 1;
}

.current a {
	color: #01ff2b;
	background: #01ff2b
}
.imgleftish {
	width: 100%;
}
/*===UNIVERSAL===*/
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb {
	background: #000;
}
::-webkit-scrollbar-track {
	border: none;
	background: transparent;
}
a {
	color: #fff
}
a:hover, a:focus, a:active {
    color: #01ff2b
}
.gold {
    color: #01ff2b
}
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
.center {
	text-align: center
}
body {
	font-size: 17px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	line-height: 26px;
	background: #fff;
	font-family: "camingodos-web";
	padding: 15px;
}
.undya {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 14px;
	text-transform: uppercase;
}
a.split {
    position: relative;
    text-decoration: underline !important;
}

.dark {
	background: #1C1E2C !important
}


h1,
h2,
h3,
h4,
h6 {
	margin-top: 0;
	color: #0c0c0c;
	margin-bottom: 10px;
	font-weight: 900;
	letter-spacing: 0px;
	font-family: "refrigerator-deluxe";
	text-transform: uppercase;
	font-style: italic;
}
h1, .head1big {
	font-size: 81px;
	line-height: 80px;
	font-weight: 900;
	text-transform: uppercase;
	font-style: italic
}
.head1 {
	font-size: 110px;
	line-height: 98px;
	text-transform: uppercase;
}
h2, .head2 {
	font-size: 29px;
	line-height: 30px;
}
h3, .head3, .childpage h2 {
    font-size: 62px;
	line-height: 58px;
	margin-bottom: 10px;
	font-style: italic;
	text-transform: uppercase
}

h4, .head4 {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 0px;
	letter-spacing: 0px;
	line-height: 36px;
}
h5 {
	color: #b3b3b3;
	text-transform: uppercase;
	font-size: 10px;
}
.green {
	color: #01ff2b
}

div p:last-child {
	margin-bottom: 0px
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: 15px;
	font-weight: normal;
}
p {
	margin: 0 0 20px
}
.h4mb {
	margin-bottom: 10px
}
a {
	color: #0c0c0c;
	transition: all 150ms ease-in;
}
a:hover {
	text-decoration: none;
}

body {
	color: #0c0c0c;
}
.smallp {
	font-size: 15px;
	line-height: 20px;
}
/*----MENU----*/

.menu-links {
	position: absolute;
	height: 60px;
	line-height: 60px;
	right: 5%;
	top: 30px;
	transition: .3s ease;
	z-index: 4
}

.blacklinks li a {
	color: #000 !important
}
.blacklinks {
	transition: .3s ease;
	top: 10px !important
}
.menu-links li {
	list-style: none;
	font-size: 19px;
	margin: 0px 4px 0px 20px;
	text-align: right;
	text-transform: capitalize;
	display: inline-block;
	font-weight: 900;
	text-transform: uppercase;
	font-family: "refrigerator-deluxe";
	font-style: italic;
	position: relative;
	z-index: 1
}
.menu-links li:before{
	position: absolute;
	left: -5px;
	height: 25px;
	top: 50%;
	width: 0px;
	content: '';
	background: #01ff2b;
	transform: translateY(-50%) skewX(-20deg);
	z-index: -1;
	transition: .3s ease-in-out;
}
.menu-links li:hover:before {
	width: 45px
}
.menu-links li:first-child {
	margin-left: 0px;
}
.fixedbar {
	position: absolute;
	z-index: 1000;
	width: 100%;
	left: 0;
	height: 110px;
	top: 15px
}
.fixedbar svg {
}
.sillynavbar {
	top: -260px !important;
}

body {
	position: relative;
	z-index: 1
}
.showdamenu {
	position: absolute;
	padding: 0px;
	z-index: -1000;
	top: -8000px;
	transition-delay: .3s;
}
.showdamenu li a {
	color: #fff !important
}
.showdamenu li {
	font-size: 18px;
	display: block;
	text-align: left;
	line-height: 32px;
	opacity: 0;
	background: #000;
	transition: .2s;
	margin: 0px;
	padding: 5px 15px 5px 15px;
	transition-delay: .0s;
}
.showdamenu li:first-child{
	padding-top: 10px
}
.showdamenu li:last-child{
	padding-bottom: 10px
}
.open.showdamenu{
	top: 60px;
}
.open.showdamenu li{
	opacity: 1;
	transition-delay: .3s !important;
	transition: .3s;
}
.triangle.squared {
	top: -100%;
	transition: .5s !important
}
.branded.squared {
	top: 25px;
	left: 26px;
}
.brandy:hover svg {
	fill: #01ff2b
}
.branded {
	position: fixed;
	left: 50px;
	top: 50px;
	z-index: 140;
	transition: .3s;
	height: 50px;
}
.brandy svg {
	width: 50px
}
.brandy {
	position: absolute;
	left: 50px;
	top: 30px
}
.menu-links a {
	color: #fff;
	text-decoration: none;
}
.li000 a{
	color: #0c0c0c
}


.slideover {
	position: absolute;
	top: 0;
	width: 470px;
	text-align: right;
	right: -600%;
	transition: .3s ease;
}
.slideover.slidengo {
	right: 20px;
	transition: .3s ease;
}
.slideover li {
	display: inline-block !important;
	position: relative;
	margin: 0px 10px
}
.hamburger .line{
	width: 35px;
	height: 5px;
	background-color: #0c0c0c;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.hamburger {
	position: fixed;
	z-index: 190;
	right: 25px;
	background: #01ff2b;
	width: 70px;
	height: 70px;
	top: -1000px;
	padding-top: 12px;
	transition: .9s ease
}
.hamburger.squared {
	top: 25px;
	transition: .5s ease
}

.hamburger:hover{
	cursor: pointer;
}
#hamburgers.is-active{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	transition-delay: 0.6s;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#hamburgers.is-active .line:nth-child(2){
	width: 0px;
}

#hamburgers.is-active .line:nth-child(1),
#hamburgers.is-active .line:nth-child(3){
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

#hamburgers.is-active .line:nth-child(1){
	-webkit-transform: translateY(13px);
	-ms-transform: translateY(13px);
	-o-transform: translateY(13px);
	transform: translateY(13px);
}

#hamburgers.is-active .line:nth-child(3){
	-webkit-transform: translateY(-13px) rotate(90deg);
	-ms-transform: translateY(-13px) rotate(90deg);
	-o-transform: translateY(-13px) rotate(90deg);
	transform: translateY(-13px) rotate(90deg);
}

.menu-overlay {
	position: fixed;
	z-index: 120;
	height: 100%;
	width: 100%;
	left: 0;
	background: #fff;
	top: -200%;
	transform: skewY(10deg);
	transition: .5s ease
}
.dd_menu .head2 {
	position: relative;
	height: 70px;
	margin-bottom: 40px;
	overflow: hidden
}
.dd_menu .head2 a{
	position: absolute;
	bottom: -100%;
	opacity: 0;
	text-align: center;
	width: 100%;
	transform: rotate(4deg);
}
.dd_menu .head2 a span {
	position: relative;
	font-weight: 900;
	font-size: 70px;
	line-height: 70px
}
.dd_menu .head2 a:hover {
	color: #0c0c0c
}
.dd_menu .head2 a span:after {
	position: absolute;
	background: #01ff2b;
	width: 110%;
	left: -5%;
	height: 0%;
	content: '';
	bottom: 0;
	z-index: -1;
	transition: .3s ease !important
}
.dd_menu .head2 a span:hover:after {
	height: 100%;
}
.menu-overlay.downed {
	top: 0%;
	transform: skewY(0deg);
	transition: .3s ease
}
.menu-overlay.downed .dd_menu .head2 .dd1{
	transition-delay: .3s !important;
	transition: .4s;
	bottom: 0%;
	opacity: 1;
	transform: rotate(0deg)
}
.menu-overlay.downed .dd_menu .head2 .dd2{
	transition-delay: .5s !important;
	transition: .4s;
	bottom: 0%;
	opacity: 1;
	transform: rotate(0deg)
}
.menu-overlay.downed .dd_menu .head2 .dd3{
	transition-delay: .7s !important;
	transition: .4s;
	bottom: 0%;
	opacity: 1;
	transform: rotate(0deg)
}
.menu-overlay.downed .dd_menu .head2 .dd4{
	transition-delay: .9s !important;
	transition: .4s;
	bottom: 0%;
	opacity: 1;
	transform: rotate(0deg)
}
.menu-overlay.downed .dd_menu .head2 .dd5{
	transition-delay: 1.1s !important;
	transition: .4s;
	bottom: 0%;
	opacity: 1;
}
.ddbrand {
	position: absolute;
	top: 40px;
	width: 100px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center
}
.menu-overlay .allmid {
	padding-top: 40px;
	width: 800px;
	text-align: left;
}
.ddbrand svg {
	width: 50%;
	margin-bottom: -10px
}










/*--------------------------------SEC 2--------------------------------*/

.mb {
	margin-bottom: 30px
}

.blocks2 {
	height: 800px;
}
.blocks2 img, .blocks img, .blocks3 img, .blocks4 img, .blocksmall img, .srv img{
	width: 100%;
	height: 100%;
	object-fit: cover
}
.blocks img{
	height: 385px
}
.srv {
	height: 500px
}
.blocksmall {
	height: 280px;
}
.blocks3 {
	height: 290px;
	padding: 0px 7.5px;
	margin-bottom: 30px;
	overflow: hidden
}
.blocks4 {
	height: 620px;
	position: relative;
	transition: .3s ease;
}
.blocks4 a:hover {
	color: #0c0c0c
}

.uppers:hover a {
	color: #01ff2b
}
.inbanner {
	background: url(https://www.deltstl.com/wp-content/uploads/2018/03/missy-poster.jpg) center bottom no-repeat;
	background-size: cover;
}


/*===WORK===*/
.workbanner {
	height: calc(100vh - 30px);
	background: url(https://www.deltstl.com/wp-content/uploads/2018/03/CreativesFeed-Banner.gif) center center no-repeat;
	background-size: cover;
}
.workban {
	width: 100%;
	height: calc(100vh - 30px);
}
.workban img {
	width: 100%;
	object-fit: cover;
	height: 100%
}
.sideport {
	padding: 0px 0px 0px 30px
}
.sideport .head4 {
	margin-bottom: 0px;
	color: #bbb
}
.work100 {
	width: 100%;
	margin-bottom: 30px
}
.gb {
	padding: 4rem;
	cursor: pointer;
}
.gb, .gb div {
	transition: .5s;
}
.gb div {
	width: 1rem;
	height: 1rem;
	background: #181819;
	color: #181819;
	box-shadow: -1.25rem 0, -1.25rem 1.25rem, 1.25rem 0, 1.25rem -1.25rem, 0 -1.25rem, -1.25rem -1.25rem, 0 1.25rem, 1.25rem 1.25rem;
	transform: none;
	margin: auto;
}
.div2 .gb div {
	width: 1rem;
	height: 1rem;
	background: #181819;
	color: #181819;
	box-shadow: -1.25rem 0, 0rem 0rem, 1.25rem 0, 0rem 0rem, 0 -1.25rem, 0rem 0rem, 0 1.25rem, 0rem 0rem;
	transform: none;
	margin: auto;
}
.div3 .gb div {
	width: 1rem;
	height: 1rem;
	background: #fff;
	color: #181819;
	box-shadow: -1.25rem 0, -1.25rem 1.25rem, 1.25rem 0, 1.25rem -1.25rem, 0 -1.25rem, -1.25rem -1.25rem, 0 0rem, 1.25rem 1.25rem;
	transform: none;
	margin: auto;
}
.backthere:hover .icon.diagonal {
	box-shadow: -0.875rem 0, -1.75rem 0, 0.875rem 0, 1.75rem 0, 0 -0.875rem, 0 -1.75rem, 0 0.875rem, 0 1.75rem;
	border-radius: 0;
	background: #01ff2b;
}
.backthere:hover div {
	color: #01ff2b;
}
.backthere:hover .x {
	transform: rotate(45deg);
}
.backthere.div2:hover .x, .backthere.div3:hover .x {
	transform: rotate(90deg);
}
.backthere {
	text-align: center;
	width: 180px;
	margin: auto;
}
.gbr {
	border-right: 1px solid #e5e5e5
}
.worksq {
	position: relative;
}
.worksq img {
	height: 400px;
	object-fit: cover
}
.wkht {
	height: 560px
}
.galpage {
	position: relative;
	height: 450px;
	margin-bottom: 30px;
	background: #0c0c0c;
	transition: .3s ease
}
.galpage img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: .3s ease
}
.galpage:hover img {
	opacity: .7
}
.galpage:hover p {
	bottom: 30px;
	opacity: 1
}
.galpage p {
	position: absolute;
	bottom: 10px;
	color: #fff;
	width: 100%;
	text-align: center;
	transition: .3s ease;
	opacity: 0;
}
/*----CONTACT----*/
.undy a {
    text-decoration: underline
}
.lilundy a {
	text-decoration: underline
}
.ul {
    margin-bottom: 30px
}
#map {
    height: 500px
}
.divvy {
    margin: 0px 10px
}
input {
    width: 100%;
    border: 1px solid #0c0c0c;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 10px
}
/*--ABOUT US--*/
#slider-1 {
	width: calc(65% - 15px);
	height: 600px;
}
#slider-2 {
	position: absolute;
	right: 0;
	top: 0px;
	width: 35%;
	height: 600px;
}
.fullcontain .slides {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 600px;
}
.fullcontain .slides img {
	width: 100%;
	height: 600px;
	display: block;
	object-fit: cover
}
/*! Flickity v1.0.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
	position: relative;
}
.flickity-enabled:focus {
	outline: none;
}
.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}
.flickity-slider {
	position: relative;
	width: 100%;
	height: 100%;
}
/* draggable */
.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
.gallery-cell {
	width: 100%;
}
.btn-next {
	background: none;
	border: none;
	position: absolute;
	right: 50px;
	bottom: -40px;
	width: 60px;
	height: 20px;
	padding: 0;
	z-index: 10
}
.btn-next:focus {
	outline: none;
	width: 50px;
}
.btn-next svg {
	display: block;
	width: 60px;
	height: 20px;
}
.btn-next svg #arrow-line {
	transition: all 0.3s ease-out;
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
}
.btn-next:hover svg #arrow-line {
	-webkit-transform: scaleX(1.5);
	transform: scaleX(1.5);
}
/*


.hero-slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin-top: 60px
}
.hero-slider .carousel-cell {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-slider .flickity-prev-next-button {
	width: 60px;
	height: 60px;
	background: #0c0c0c;
	border-radius: 0px
}
.hero-slider .flickity-prev-next-button:hover {
	background: #01ff2b
}
.hero-slider .flickity-page-dots {
	bottom: 30px;
}
.hero-slider .flickity-prev-next-button .arrow {
	fill: white;
}
.hero-slider .flickity-page-dots .dot {
	width: 30px;
	height: 4px;
	opacity: 1;
	background: rgba(255, 255, 255, 0.9);
	border: 0 solid white;
	border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
	background: #01ff2b;
	border: 0 solid #01ff2b;
}
*/
.three60frame {
	width: 100%;
	right: 0;
	top: 0;
}
.bigdaddy {
	position: absolute;
	right: 0;
	font-size: 500px;
	bottom: 0;
	line-height: 300px;
	z-index: -1;
	color: #f1f1f1
}
.mmbg {
	position: relative;
	background: #f3f3f3;
	height: 370px;
	margin-bottom: 30px
}

.member img{
	width: 100%;
	object-fit: cover;
	object-position: top;
	margin-bottom: 30px;
}
.mmbg img {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin-bottom: 0px
}
.member .go {
	position: absolute;
	left: 80%;
	bottom: 5px;
	opacity: 0;
	transition: .3s ease
}
.member {
	position: relative;
	margin-bottom: 50px
}
.member:hover .go {
	opacity: 1;
	left: 86%
}
.row.eq {
	display: flex;
	flex-wrap: wrap;
}
.fulla{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 3;
	left: 0;
}
.bbgoverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1;
	background: rgba(0,0,0,.3);
	left: 0;
	opacity: 1;
}
.hidedwhites {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1;
	background: rgba(255,255,255,1);
	left: 0;
	opacity: 1;
}
.hidedwhites.is-loaded {
	opacity: 0;
	transition-delay: .3s;
	transform: .2s
}
.member:hover .goline2, .worksq:hover .goline2 {
	right: 0;
	opacity: 1
}
.member:hover .goline2:after, .member:hover .goline2:before, .worksq:hover .goline2:after, .worksq:hover .goline2:before {
	opacity: 1
}
.goline2 {
	position: absolute;
	width: 25px;
	height: 2px;
	background: #01ff2b;
	bottom: 19px;
	right: 20px;
	content: '';
	opacity: 0;
	transition: .3s ease
}
.goline2:after {
	position: absolute;
	width: 13px;
	height: 2px;
	right: -3px;
	content: '';
	background: #01ff2b;
	bottom: 4px;
	transform: rotate(45deg);
	opacity:0;
	transition: .3s ease;
}
.goline2:before {
	position: absolute;
	width: 13px;
	height: 2px;
	right: -3px;
	content: '';
	background: #01ff2b;
	top: 4px;
	transform: rotate(-45deg);
	opacity: 0;
	transition: .3s ease;
}
.memberbanner {
	position: relative;
	height: 650px;
	background: url(https://www.deltstl.com/wp-content/uploads/2018/03/matt-mckenna-stl-bnr2.jpg) center top no-repeat;
	background-size: cover;
	transition: .6s ease
}
.membersmall {
	height: 350px !important;
	transition: .6s ease
}
.memberbanner.membersmall {
	height: 470px !important;
	transition: .6s ease
}
.mid {
	left: 50%;
	transform: translate(-50%,-50%);
}
.rotext, .rotext h4 {
	width: 100%;
	text-align: center;
}
.mid, .midup {
	position: absolute;
	top: 50%;
}
.rotatebtn {
	width: 260px;
	height: 100px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	text-align: center;
	color: #fff;
bottom: 0
}
.relly {
	position: relative
}
.rotatebtn h4 {
	color: #fff;
	margin-bottom: 0px
}
.swipe-icon {
	overflow: visible;
	width: 46px;
	height: 34px;
	animation: hand-move 2s ease-out infinite;
}
@keyframes hand-move{0%,100%{transform:translateX(0)}50%{transform:translateX(.5em)}}





button:hover {
	cursor: none
}
.your-cursor2 {
	position: absolute;
	background-color: #01ff2b;
	width: 11px;
	height: 11px;
	border-radius: 100%;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: scale(1);
}


.follow2 {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	width: 23px;
	height: 23px;
	border-radius: 100%;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: translate(5px, 5px);
}
.follow2.active {
	opacity: 0.7;
	transform: scale(3);
}
.follow2 a:hover {
	opacity: 0.7;
	transform: scale(3);
}
.follow2.hovered {
	opacity: 0.08;
}

/*--------------------------------SEC 3--------------------------------*/
.topbanner {
	position: relative;
	height: 600px;
	background: url(https://www.deltstl.com/wp-content/uploads/2018/03/web-design-hero.jpg) center center no-repeat;
	background-size: cover;
	transition: .3s ease
}
.topbanner.membersmall {

}
.bigtitle {
	position: absolute;
	top: 50px;
	left: 7.5%;
	width: 50%;
	display: none
}
.blocks4 .go{
	opacity: 0;
}

.go {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #01ff2b;
	position: absolute;
	bottom: 0px;
	left: 30px;
	transition: .3s ease;
	transition-delay: .2s

}
.go .goline {
	position: absolute;
	width: 15px;
	height: 2px;
	background: #0c0c0c;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.go .goline:after {
	position: absolute;
	width: 8px;
	height: 2px;
	right: -2px;
	content: '';
	background: #0c0c0c;
	bottom: 2px;
	transform: rotate(45deg);
}
.go .goline:before {
	position: absolute;
	width: 8px;
	height: 2px;
	right: -2px;
	content: '';
	background: #0c0c0c;
	top: 2px;
	transform: rotate(-45deg);
}
.blocks4 h2 a{
	color: #0c0c0c
}
.blocks4 h2, .blocks4 .head2 {
	position: absolute;
	top: 0;
	top: 30px;
	left: 30px;
}
.blocks4 p {
	position: absolute;
	bottom: 10px;
	padding: 0px 60px 0px 30px;
	transition: .3s ease;
	transition-delay: .1s;
}
.blocks5 img {
	width: 100%;
	height: 360px;
	object-fit: cover;
}
.pl2 {
	padding: 20px 40px;
	margin-bottom: 20px;
	height: 300px
}
.blocks4:hover .go {
	bottom: 20px;
	opacity: 1
}
.blocks4:hover p {
	bottom: 50px
}

* {
}
*{
	cursor: none;
}

/*
.accordion a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	padding: 20px 0px 10px;
	font-weight: 400;
	border-bottom: 1px solid #e5e5e5;
	transition: .3s ease;
	transition: border .01s
}

.accordion a:hover,
.accordion a:hover::after {
	cursor: pointer;
	color: #01ff2b;
}

.accordion a:hover::after, .accordion a:hover::before {
	background: #01ff2b;
}

.accordion a.active {
	color: #01ff2b;
	border-bottom: 0px;
}

.accordion a::after {
	position: absolute;
	right: 10px;
	height: 25px;
	width: 4px;
	content: '';
	background: #0c0c0c;
	top: 22px;
	transition: .3s ease
}
.accordion a::before {
	position: absolute;
	right: 0;
	height: 4px;
	width: 25px;
	content: '';
	background: #0c0c0c;
	top: 32px;
	transition: .3s ease
}

.accordion a.active::after {
	transform: rotate(90deg);
	background: #01ff2b;
	margin-top: -.5px
}

.accordion .content {
	opacity: 0;
	max-height: 0;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	clear: both;
	-webkit-transition: all 0.2s ease 0.15s;
	-o-transition: all 0.2s ease 0.15s;
	transition: .1s ease
}

.accordion .content p {
	font-weight: 300;
	padding: 0px 100px 20px 0px;
	transition: .1s ease
}

.accordion .content.active {
	opacity: 1;
	max-height: 100%;
	transition: .6s ease
}
.accordion a.active h3 {
	color: #01ff2b;
}
*/
/*-----CHILD----*/
.childpagesbanner {
	position: relative;
	padding: 60px ;
	text-align: center;
	background: url(https://www.deltstl.com/wp-content/uploads/2017/12/hp-responsive-website-developers.jpg) center center no-repeat;
	background-size: cover;
	margin-bottom: 60px
}
.overlay {
	position: absolute;
	width: 100%;
	left: 0;
	height: 100%;
	top: 0;
	background: rgba(0,0,0,.1)
}
.childpagesbanner .head1big, .childpagesbanner .head4 {
	color: #fff;
	z-index: 1;
	position: relative
}
.zechilds img{
	width: 100%;
	margin: 20px 0px 50px
}
.zechilds h3 {
	text-align: center;
	font-size: 36px;
	line-height: 40px;
	padding: 0px 60px;
	margin-bottom: 20px
}
.child_list li{
	list-style: none;
	text-transform: uppercase;
	font-size: 12px;
}
.child_list img {
	width: 50%;
	margin: auto;
	display: block
}
.child_list h4 {
	margin-bottom: 10px;
}
.act {
	color: #01ff2b
}
.img100 {
	width: 100%
}
.srvimgs {
	width: 100%;
	height: 400px;
	object-fit: cover
}
.childbigimg img {
	width: 130%;
	margin: 40px 0px;
	margin-left: -15%
}
.childpage h3, .childpage .head3 {
	font-family: "camingodos-web";
	font-size: 20px;
	line-height: 35px;
	font-weight: 600;
	padding: 10px 50px 10px 20px;
	position: relative;
	margin-bottom: 20px
}
.childpage h3:before, .childpage .head3:before {
	position: absolute;
	width: 3px
	height: 100%;
	left: 0;
	top: 0;
	background: #01ff2b;
	content: ''
}
.childimg {
	width: 100%;
	height: 400px;
	object-fit: cover
}


/*===WORK PAGE ADDITIOSN===*/
.bnr {
	position: relative;
	height: 500px;
	width: 100%;
	background: #000;
	text-align: center
}
.bnr_mid {
	position: absolute;
	width: 75%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}




/*--------------------------------SEC 2--------------------------------*/


.gline {
	width: 0px;
	height: 3px;
	margin-bottom: 10px;
	background: #01ff2b
}
.in-view.gline {
	width: 60px;
	transition: .3s ease;
	transition-delay: .9s
}
.tho {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.bbg .tho:after{
	background: #000
}
.tho:after {
	position: absolute;
	width: 100%;
	height:120%;
	background: #fff;
	content: '';
	z-index: 1;
	transition: .5s ease;
	bottom: -10%;
	transform: skewY(5deg);
	left: 0;
}
.in-view.tho:after {
	height: 0%;
	transform: skewY(0deg);
}

.td4.in-view {
	transition-delay: 1.8s !important
}
.td2 .in-view.tho:after {
	transition-delay: .6s !important;
	transition-duration: .8s !important
}
.td3 .in-view.tho:after {
	transition-delay: .9s !important;
	transition-duration: .8s !important
}
.td4 .in-view.tho:after {
	transition-delay: 1.2s !important;
	transition-duration: .8s !important
}
.td5 .in-view.tho:after {
	transition-delay: 1.5s !important;
	transition-duration: .8s !important
}
.td6 .in-view.tho:after {
	transition-delay: 1.8s !important;
	transition-duration: .8s !important
}
.ups {
	position: relative;
	overflow: hidden;
	height: 29px;
}
.ups .undya {
	position: absolute;
	bottom: -100%;
	transition: .3s ease !important;
	transition-delay: .4s ease !important;
}
.ups.in-view .undya {
	bottom: 0px;
	transition: .9s ease !important;
	transition-delay: 11s ease !important;
}



.transition-overlay{ width:100%; height:100%; position:fixed; left:0; top:0; padding:15px; z-index:999; opacity:0; visibility:hidden;}
.transition-overlay{transition: all 0.5s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);}
.transition-overlay .inside{ width:100%; height:100%; float:left; background:#0c0c0c;}
.transition-overlay.show-me{ opacity:1; visibility:visible; padding:0;}


.preloader{ width:100%; height:100%; position:fixed; left:0; top:0; z-index:999;}
.preloader{transition: all 0.5s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);}
.preloader .inside{ width:100%; height:100%; float:left; background:url(https://www.deltstl.com/wp-content/uploads/2018/03/DELTisLoading.gif) center no-repeat #0c0c0c; background-size:125px 125px; display:table; transition-delay:0.2s;}
.preloader .inside{transition: all 0.5s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);}
.preloader .inside .text{ display:table-cell; vertical-align:middle; text-align:center;}
.preloader .inside .text{transition: all 0.5s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);}
.preloader .inside .text small{ font-weight:700; color:#fff; letter-spacing:5px; transform:translateY(70px); display:inline-block;}
.page-loaded .preloader{ padding:15px; visibility:hidden;}
.page-loaded .preloader .inside{ height:0; transition-delay:0.4s;}
.page-loaded .preloader .inside .text{ transform:translateY(70px); opacity:0; height:0; overflow:hidden; float:left;}
.page-loaded .navigation .hamburger{transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); -webkit-transform: translateX(0);}
.page-loaded .navigation .logo{transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0);}
.page-loaded .navigation .social-media{transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); -webkit-transform: translateX(0);}



.page-unloaded:after {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: #000;
	top: 0;
	left: 0;
}

/*----CURTAIN----*/



.bb, .bg {
	background: #0c0c0c;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 50px;
	position: relative;
	overflow: hidden;
	transition: .3s
}
.bb span, .bg span {
	position: relative;
	z-index: 2
}
.bb:hover:after, .bg:hover:after{
	left: 0;
	transform: skewX(0deg)
}
.bb:after, .bg:after{
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	top: 0;
	left: -120%;
	z-index: 10;
	transform: skewX(-20deg);
	transition: .3s;
	z-index: 1
}
.bb:after {
	background: #353535
}
.bg {
	background: #01ff2b;
	color: #0c0c0c
}
.bg:after {
	background: #08d72b
}
.ml {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 25px;
	color: #01ff2b;
	position: relative;
}
.ml:after {
	position: absolute;
	background: #01ff2b;
	height: 3px;
	width: 40px;
	bottom: -10px;
	left: 0;
	content: ''
}
.ml1 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 25px;
	color: #fff;
	position: relative;
}
.ml1:after {
	position: absolute;
	background: #fff;
	height: 3px;
	width: 40px;
	bottom: -10px;
	left: 0;
	content: ''
}
.pl {
	padding-left: 29px
}
.sb {
    padding: 5px 30px;
}
.line {
	width: 2px;
	height: 100px;
	margin: auto;
	position: relative;
	margin-top: 30px
}
.line:after {
	position: absolute;
	top: 0;
	left: 0;
	background: #01ff2b;
	width: 100%;
	height: 0%;
	content: '';
	transition: .6s ease
}
.barright {
	width: 100px;
	height: 2px;
	position: relative;
	margin-bottom: 25px;
	height: 2px;
}
.barright:after {
	position: absolute;
	top: 0;
	left: 0;
	background: #01ff2b;
	width: 0%;
	height: 2px;
	content: '';
	transition: .6s ease
}
.in-view.line {

}
.in-view.line:after {
	height: 100%;
}
.in-view.barright:after {
	width: 100%;
}
button {
	border: 0px;
	border-radius: 30px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 5px 30px;
	color: #fff;
	transition: .3s ease-in-out
}

.blu {
	background: #1e59fc
}
.gre {
	background: #01ff2b;
	font-size: 13px;
}
.blk {
	background: #000;
	font-size: 13px
}
.blk:hover {
	background: #333
}
.gre:hover {
	background: #16cc34
}
.flexy .blk {
	background: #222
}
.white {
	color: #fff
}
.flexy {
	width: 100%;
	display: flex;
	text-align: center;
	flex-flow: row wrap;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.flexy button {
	margin: 0px 10px
}
.container {
	padding-right: 0;
	padding-left: 0;
	width: 1300px;
	position: relative;
}
.contain {
	width: 850px;
	margin: auto;
	text-align: center;
	font-size: 23px;
	line-height: 34px;
}
.allmid {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	text-align: center;
	color: #fff
}
.allmid .head3 {
	color: #fff;
	font-size: 77px;
	line-height: 70px
}
.topbanner .allmid {
	width: 700px
}
.pd {
	height: 160px
}
.inner {
	padding-top: 160px;
	padding-bottom: 160px;
}
.inner2 {
	padding-top: 120px;
	padding-bottom: 120px;
}
.inner3 {
	padding-top: 160px;
	padding-bottom: 60px;
}
.rel {
	position: relative
}
ul {
	padding: 0 0 0 18px
}
.rnp {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.rnp [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.divide10 {
	width: 100%;
	height: 10px;
}
.divide15 {
	width: 100%;
	height: 15px;
}
.divide20 {
	width: 100%;
	height: 20px;
}
.divide25 {
	width: 100%;
	height: 25px;
}
.divide30 {
	width: 100%;
	height: 30px;
}
.divide35 {
	width: 100%;
	height: 35px;
}
.divide40 {
	width: 100%;
	height: 40px;
}
.divide45 {
	width: 100%;
	height: 40px;
}
.divide50 {
	width: 100%;
	height: 50px;
}
.divide55 {
	width: 100%;
	height: 55px;
}
.divide60 {
	width: 100%;
	height: 60px;
}
.divide65 {
	width: 100%;
	height: 65px;
}
.divide70 {
	width: 100%;
	height: 70px;
}
.divide75 {
	width: 100%;
	height: 75px;
}
.divide80 {
	width: 100%;
	height: 80px;
}
.divide85 {
	width: 100%;
	height: 85px;
}
.divide90 {
	width: 100%;
	height: 90px;
}
.divide100 {
	width: 100%;
	height: 100px;
}





*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:focus {
	outline: 0 !important
}

iframe {
	border: none
}
::selection {
	background: #141414; /* Safari */
	color: #fff;
}
::-moz-selection {
	background: #141414; /* Firefox */
	color: #fff;
}

/*----FOOTER----*/

.black {
	background: #0c0c0c;
	color: #fff;
	font-size: 14px;
}
.memory {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	opacity: .7
}
.black a {
	color: #fff
}
.black a:hover {
	color: #01ff2b
}
.black h4 {
	color: #fff;
	margin-bottom: 0px;
	margin-top: 10px
}
.black .head4 {
	position: absolute;
	color: #0c0c0c !important;
	top: 10px;
}

.socialsvg svg {
	width: 35px;
	margin-right:5px;
	position: relative;
	fill: #01ff2b;
	transition: .3s ease;
}
.socialsvg li:hover svg {
	fill: #fff;
	transition: .3s ease;
}
.socialsvg li{
	list-style: none;
	display: inline-block;
	position: relative;
}
.socialsvg {
	position: relative;
	height: 40px
}
.footli li {
	list-style: none;
}
.glinks li {
	list-style: none;
}
.glinks li a {
	text-decoration: underline;
	color: #01ff2b
}
